<div class="container">
  <div class="row">
  <div class="col-xs-6">

    <h2>登録情報編集<%= link_to '退会する', cancel_registration_path(@customer.id),class: "btn btn-danger" %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {method: :put}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <table class="table table-bordered">
         <tr>
           <div class="field">
             <th class="col-xs-3 active"><%= f.label :氏名 %></th>
             <td><%= f.text_field :lastname, autofocus: true, autocomplete: "lastname" %>
                 <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname" %></td>
           </div>
         </tr>

         <tr>
           <div class="field">
             <th class="col-xs-3 active"><%= f.label :カナ %></th>
             <td><%= f.text_field :kana_lastname, autofocus: true, autocomplete: "kana_lastname" %>
                <%= f.text_field :kana_firstname, autofocus: true, autocomplete: "kana_firstname" %></td>
             </div>
           </tr>

          <tr>
            <div class="field">
               <th class="col-xs-3 active"><%= f.label :郵便番号 %></th>
               <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: 'col-xs-12' %></td>
             </div>
         </tr>

         <tr>
             <div class="field">
               <th class="col-xs-3 active"><%= f.label :住所 %></th>
               <div class="col-xs-9">
                 <td><%= f.text_field :address, autofocus: true, autocomplete: "address", class: 'col-xs-12' %></td>
               </div>
             </div>
         </tr>


         <tr>
             <div class="field">
               <th class="col-xs-3 active"><%= f.label :電話番号 %></th>
               <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: 'col-xs-12' %></td>
             </div>
         </tr>

         <tr>
             <div class="field">
               <th class="col-xs-3 active"><%= f.label :メールアドレス %></th>
               <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-xs-12' %></td>
             </div>
          </tr>


         <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
           <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
         <% end %>
      </table>
       <div class="text-center">
        <%#= f.submit '変更内容を保存する', customer_path(current_customer), class: "btn btn-primary" %>
        <%= f.submit '変更内容を保存する',class: "btn btn-primary" %>
    </div>

    <% end %>

  </div>
</div>



