<div class="container">
	<h3 style="margin: 30px 0;">配送先登録・一覧</h3>

	<p id="notice" class="text-warning row col-md-12"><%= notice %></p>

  <div class="row col-md-9">
	<%= form_for(@delivery, url: deliveries_path, method: :post) do |f| %>
		<table class="table table-bordered col-md-6">
		 <tr>
		   <th class="active col-md-3"><h4>郵便番号</h4></th>
		   <td style="vertical-align: middle;"><%= f.text_field :postal_code, class: 'col-md-3' %></td>
		 </tr>
		 <tr>
		   <th class="active col-md-3"><h4>住所</h4></th>
		   <td style="vertical-align: middle;"><%= f.text_field :address, class: 'col-md-12' %></td>
		 </tr>
		 <tr>
		   <th class="active col-md-3"><h4>宛名</h4></th>
		   <td style="vertical-align: middle;"><%= f.text_field :name, class: 'col-md-6' %></td>
		 </tr>
		</table>
		<%= f.hidden_field :customer_id,:value => current_customer.id %>
	    <%= f.submit '登録する', class: 'btn btn-primary col-md-offset-10 col-md-2', style: 'margin-bottom: 40px;' %>
  	<% end %>
  </div>



  <div class="row col-md-8">
	<table class="table table-bordered table-hover">
	 	<thead>
		  <tr class="active">
		   <td class="col-md-2"><h4>郵便番号</h4></td>
		   <td class="col-md-4"><h4>住所</h4></td>
		   <td class="col-md-2"><h4>宛名</h4></td>
		   <td class="col-md-3"></td>
		 </tr>
		</thead>
	   <% @deliveries.each do |delivery| %>
	    <tbody>
		 <tr>
		   <td><%= delivery.postal_code %></td>
		   <td><%= delivery.address %></td>
		   <td><%= delivery.name %></td>
		   <td><%= link_to "編集する", edit_delivery_path(delivery.id), class: 'btn btn-primary', style: 'margin-right: 10px;' %><%= link_to "削除する", delivery_path(delivery.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %></td>
		 </tr>
		</tbody>
		<% end %>
	</table>
  </div>
</div>

