<div class="container">

	<h3>会員一覧</h3>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<table class="table table-bordered">
				<thead>
					<tr class="table-secondary" style="background-color: #f5b199">
						<th class="col-md-2">会員ID</th>
						<th class="col-md-3">氏名</th>
						<th class="col-md-4">メールアドレス</th>
						<th class="col-md-3">ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @customers.each do |customer| %>
					<tr class="line">
						<td class="col-md-2"><%= customer.id %></td>
						<td  class="col-md-3">

							<u><%=link_to admins_customer_path(customer), :style => "color: #400;" do %>

								<%= customer.lastname %>
								<%= customer.firstname %></u>
							<% end %>
							</td>
						<td  class="col-md-4"><%= customer.email %></td>
						<td class="col-md-3">
							<% if customer.status == true %>
							有効
							<% else %>
							退会済
							<% end %>
						</td>
					</tr>
					<% end %>

				</tbody>
			</table>
		</div>
	</div>
	<div class="page">
		<%= paginate @customers, class: "paginate" %>
	</div>

</div>
