<div class="container">

	<h2><b>会員詳細画面</b></h2>
<p class="text-warning"><%= flash[:customer_success] %></p>
	<div class="row">
		<table class="col-md-offset-1">
			<tbody>
					<tr>
						<th class="col-md-2">顧客ID</div>
						<td class="col-md-6"><%= @customer.id %>
						<% if @customer.status == true %>
						<p class="label label-info" >有効会員</p>

						<% else %>

						<P class="label label-danger" >退会済み
						<% end %>
						</td>
					</tr>
					<tr>
						<th class="col-md-2">氏名</th>
						<td class="col-md-6">
							<%= @customer.lastname %>
							<%= @customer.firstname %>
						</td>
					</tr>
					<tr>

						<th class="col-md-2">フリガナ</th>
						<td class="col-md-6">
							<%= @customer.kana_lastname %>
							<%= @customer.kana_firstname %>
						</td>
					</tr>
					<tr>

						<th class="col-md-2">郵便番号</th>
						<td class="col-md-6"><%= @customer.postal_code.to_s.insert(3, "-") %></td>
					</tr>
					<tr>

						<th class="col-md-2">住所</th>
						<td class="col-md-6"><%= @customer.address %></td>
					</tr>
					<tr>

						<th class="col-md-2">電話番号</th>
						<td class="col-md-6"><%= @customer.phone_number %></td>
					</tr>
					<tr>

						<th class="col-md-2">メールアドレス</th>
						<td class="col-md-6"><%= @customer.email %></td>
					</tr>

				</tbody>

			</table>

					<div class="col-md-5 col-md-offset-2">
						<%= link_to "編集する", edit_admins_customer_path(@customer), class: 'btn btn-primary' %>
						<%= link_to "注文履歴一覧を見る", admins_order_path(@customer), class: 'btn btn-primary' %>
					</div>
	</div>
</div>
