<div class="container">
  <div class="col-xs-6">

	<h3>マイページ</h3>

   <h3 style="font-weight: bold", class="">登録情報 <%= link_to "編集する", edit_customer_registration_path ,class:'btn btn-primary' %><%= link_to "パスワードを変更する", edit_customer_password_path ,class:'btn btn-primary' %>
	</h3>


	<table class="table table-bordered table-hover container">
		<tbody class="row">
			<tr class="">
				<td class="active col-xs-3">氏名</td>

				<td><%= @customer.lastname %></td>
				<td><%= @customer.firstname %></td>
			</tr>
			<tr>
				<td class="active">カナ</td>
				<td><%= @customer.kana_lastname %></td>
				<td><%= @customer.kana_firstname %></td>
			</tr>
			<tr>
				<td class="active">郵便番号</td>
				<td><%= @customer.postal_code %></td>
			</tr>
			<tr>
				<td class="active">住所</td>
				<td><%= @customer.address %></td>
			</tr>
			<tr>
				<td class="active">電話番号</td>
				<td><%= @customer.phone_number %></td>
			</tr>
			<tr>
				<td class="active">メールアドレス</td>
				<td><%= @customer.email %></td>
			</tr>
		</tbody>
	</table>


		<h3 style="font-weight: bold", class="">配送先
			<%= link_to "一覧を見る", deliveries_path ,class:'btn btn-primary'%></h3>



		<h3 style="font-weight: bold">注文履歴<%= link_to "一覧を見る", orders_path ,class:'btn btn-primary'%></h3>
	    
   </div>

</div>