<div class="container">

	<h3>マイページ</h3>


   <h3 style="font-weight: bold", class="">登録情報 <%= link_to "編集する", edit_customer_registration_path ,class:'btn btn-primary edit' %><%= link_to "パスワードを変更する", edit_customer_password_path ,class:'btn btn-primary' %></h3>

    <div class="row col-xs-8">
		<table class="table table-bordered table-hover container">
			<tbody class="row">
				<tr>
					<td class="active col-xs-4">氏名</td>
					<td colspan="2"><%= @customer.lastname %>  <%= @customer.firstname %></td>
				</tr>
				<tr>
					<td class="active">カナ</td>
					<td colspan="2"><%= @customer.kana_lastname %><%= @customer.kana_firstname %></td>
				</tr>
				<tr>
					<td class="active">郵便番号</td>
					<td colspan="2"><%= @customer.postal_code.to_s.insert(3, "-") %></td>
				</tr>
				<tr>
					<td class="active">住所</td>
					<td colspan="2"><%= @customer.address %></td>
				</tr>
				<tr>
					<td class="active">電話番号</td>
					<td colspan="2"><%= @customer.phone_number %></td>
				</tr>
				<tr>
					<td class="active">メールアドレス</td>
					<td colspan="2"><%= @customer.email %></td>
				</tr>
			</tbody>
		</table>
    </div>
   
   <div class="row col-xs-12">
	<h3 style="font-weight: bold">配送先 <%= link_to "一覧を見る", deliveries_path ,class:'btn btn-primary indexpage'%></h3>

		<h3 style="font-weight: bold">注文履歴<%= link_to "一覧を見る", orders_path ,class:'btn btn-primary index'%></h3>
	</div>


</div>