<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>注文情報確認</h3>

			<!-- 7-75まで　form_for -->
			<%= form_for(@cart_item, url: orders_path(@cart_item), method: :post) do |f| %>
			<!-- ここから -->
			  <table class="table table-borderd">
			  	<div class="col-xs-8">
					    <thead>
						    <tr>
							   <th class="col-xs-3 active">商品名</<th>
								<th class="col-xs-3 active">単価(税込)</th>
								<th class="col-xs-3 active">数量</th>
								<th class="col-xs-3 active">小計</th>
							</tr>
						</thead>

						<tbody>
							<% @cart_items.each do |cart_item| %>
							<tr>
								<td><%= cart_item.item.name  %></td><!-- 商品名 -->
								<td><%= cart_item.item.price_with_tax %></td>
								<td><%= cart_item.quantity  %></td>

								<td><%= cart_item.item.price_with_tax * cart_item.quantity   %></td>
							</tr>
							<% end %>
						</tbody>
			    </div>
              </table>
				<!-- ここまで -->

				<!-- ここから  -->
				<div class="col-xs-4">
				   <table class="table table-borderd">
						<tr>
							<th class="col-xs-3 active">送料</th>
							<td class="col-xs-3"><%= %></td>
						</tr>
						<tr>
							<th class="col-xs-3 active">商品合計</th>
							<td class="col-xs-3"><%= %></td>
						</tr>
						<tr>
						    <th class="col-xs-3 active">請求金額</th>
						    <td class="col-xs-3"><%= %></td>
					    </tr>
				   </table>
			    </div>
			<!-- ここまで -->

			<!-- ここから -->
			<div class="row col-xs-12">
				<th>支払い方法</th>
				<td><%= hidden_field :payment_method, @order.customer_id %>
					<%= @order.payment_method %>
				</td>
				<br>
				<th>お届け先</th>
				<td>
				　<p>〒<%= @customer.postal_code.to_s.insert(3, "-") %></p>
			　　<%= @customer.address %><br>
			    <%= @customer.lastname %><%= @customer.firstname %><br>

				</td>
			</div>
			<!-- ここまで -->

			<!-- ここから -->
			<div class="row col-xs-2 col-xs-offset-5">
				<div class="text-center">
					<%= f.submit '購入を確定する',class: "btn btn-primary" %>
				</div>
			</div>
			<!-- ここまで -->
			<% end %>
		</div>
	</div>
</div>

