<h3>商品詳細一覧</h3>

<%= link_to "+", new_admins_item_path %>

    <table class="table table-condensed">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
       <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.tax_excluded_price %></td>
        <td><%= item.genre.name %></td>
        <td><%= item.status %></td>
      </tr>
        <% end %>
    </tbody>
  </table>

  <%= paginate @items, class: "paginate" %>