<div class="container">

   <h3 style="margin-bottom:80px"><b>商品 新規登録画面</b></h3>

   <%= form_for(@item, url:admins_items_path, method: :post) do |f| %>

    <div class="row">

        <div class="col-md-4">

            <%= f.attachment_field :image%>

        </div>



        <div class="col-md-5">
             <div class="row", style="margin-bottom:15px">
                    <label class="col-sm-3 control-label">商品名</label>
                    <%= f.text_field :name, class: 'col-xs-6' %>
             </div>

             <div class="row" , style="margin-bottom:15px">
                    <label class="col-sm-3 control-label">商品説明</label>
                     <%= f.text_area :description, size: "5x7", class: 'col-xs-6' %>
             </div>

             <div class="row" , style="margin-bottom:15px">
                    <label class="col-sm-3 control-label">ジャンル</label>
                      <%= f.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id]} , class: 'col-xs-6' %>
             </div>

             <div class="row", style="margin-bottom:15px">
                    <label class="col-sm-3 control-label">税抜価格</label>
                    <%= f.text_field :tax_excluded_price, class: 'col-xs-6' %><p>円</p>
             </div>

             <div class="row", style="margin-bottom:15px">
                 <label class="col-sm-3 control-label">販売<br>ステータス</label>
                <%= f.select :status, Item.statuses.keys, {} ,class: 'select-default col-xs-6' %>
             </div>

         </div>

         <div class="row col-xs-10 col-xs-offset-10">
            <%= f.submit '新規登録', class: 'col-xs-2 btn-lg  btn-primary' %>
         </div>

        <% end %>

     </div>
</div>