<div class="container">

    <h3 style="margin-bottom:80px"><b>商品 詳細画面</b></h3>

     <div class="row">

 　　　　<div class="col-md-4">
			<%= attachment_image_tag @item, :image, :fill, 100, 100 %>
		</div>

        <div class="col-md-5">
        	<div class="row", style="margin-bottom:15px">
				<label class="col-sm-3 control-label">商品名</label>
				<%= @item.name %>
            </div>

            <div class="row", style="margin-bottom:15px">
				<label class="col-sm-3 control-label">商品説明</label>
				<%=  @item.description  %>
　　　　　　　</div>

            <div class="row", style="margin-bottom:15px">
				<label class="col-sm-3 control-label">ジャンル</label>
				<%= @item.genre.name %>
			</div>
            <div class="row", style="margin-bottom:15px">
	           	 <label class="col-sm-3 control-label">税込価格　（税抜価格）</label>
				 <%= @item.price_with_tax %>(<%= @item.tax_excluded_price %>)
            </div>

             <div class="row", style="margin-bottom:15px">
             	<label class="col-sm-3 control-label">販売ステータス</label>
			    <%= @item.status %>
			 </div>
		</div>

         <div class="row col-xs-7 col-xs-offset-10">
			<%= link_to "編集する", edit_admins_item_path, class: 'col-xs-2 btn-lg  btn-primary' %>
        </div>

</div>