<div class="container">

	<h2><b>注文詳細画面</b></h2>

	<div class="row">
		<table>
			<tbody>
				<tr>
					<th class="col-md-4"><b>購入者</b></th>
					<td class="col-md-8"><%= @order.name %></td>
				</tr>
				<tr>
					<th class="col-md-4"><b>配送先</b></th>
					<td class="col-md-8"><%= @order.address %><%= " " %><%= @order.name %></td>
				</tr>
				<tr>
					<th class="col-md-4"><b>支払い方法</b></th>
					<td class="col-md-8"><%= @order.payment_method %></td>
				</tr>
				<tr>
					<th class="col-md-4"><b>注文ステータス</b></th>
					<td class="col-md-8"><%= form_for(@order, url: admins_order_path, method: :patch ) do |f| %>
						<%= f.select :status, Order.statuses.keys, {} %>
						<%= f.submit "更新",class: 'btn btn-primary'  %>
						<% end %>
					</td>
				</tr>
				<th></th>
			</tbody>
		</table>
	</div>

	<div class="row col-md-8">
		<table class="table">
			<thead>
				<tr class="active">
					<th class="col-md-3">商品名</th>
					<th class="col-md-2">単価(税込)</th>
					<th class="col-md-1">数量</th>
					<th class="col-md-1">小計</th>
					<th class="col-md-2">制作ステータス</th>
					<th class="col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<% @order_items.each do |order_item| %>
				<tr>
					<td class="col-md-3"><%= order_item.item.name %></td>
					<td class="col-md-2"><%= order_item.price_with_tax %></td>
					<td class="col-md-1"><%= order_item.quantity %></td>
					<td class="col-md-1"><%= order_item.tax_excluded_price * order_item.quantity %></td>
					<%= form_for(order_item, url: admins_order_item_path(order_item.id), method: :patch) do |f| %>

					<td class="col-md-2"><%= f.select :status, OrderItem.statuses.keys, {},{value: order_item.status} %></td>

					<td class="col-md-1"><%= f.submit "更新" ,class: 'btn btn-primary' %></td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="row col-md-3 col-md-offset-1" style="margin-top: 150px;">
		<table>
				<tr>
					<td><b>商品合計</b></td>
					<td class="col-md-8"><%= @order.billing_amount - @order.shipping_fee %>円</td>
				</tr>
				<tr>
					<td><b>送料</b></td>
					<td class="col-md-8"><%= @order.shipping_fee %>円</td>
				</tr>
				<tr>
					<td><b>請求金額合計</b></td>
					<td class="col-md-8"><%= @order.billing_amount %>円</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


