<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
     <header class="navbar navbar-fixed-top">
          <div class="container">
                <nav class="nav navbar-nav">
                    <h2 class="header-top">ながのCAKE</h2>
                     <% if customer_signed_in? && request.fullpath.index("/admins/") == nil %>
                          <p style="color:#fff;">ようこそ、<%= current_customer.lastname %>さん</p>
                      <% end %>
                </nav>

                <div class="collapse navbar-collapse" id="Navber">
                   <ul class="nav navbar-nav navbar-right">
                    <!-- カスタマーがログインしている時のヘッダー -->
                     <% if customer_signed_in? && request.fullpath.index("/admins/") == nil %>
                        <%= render 'layouts/customer_header' %>
                    <!-- アドミンがログインしている時のヘッダー -->
                    <% elsif admin_signed_in? && request.fullpath.index("/admins/").present? %>
                        <%= render 'layouts/admin_header' %>
                    <!-- 未ログイン時のデフォルトのヘッダー -->
                     <% else %>
                        <%= render 'layouts/default_header' %>
                    　<% end %>
                    </ul>
                </div>
          </div>
       </header>
      <%= yield %>
    </div>
<!-- footer -->
    　<footer>
        <h4>Nagano-Cake</h4>
    　</footer>
  </body>
</html>
