<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <header class="navbar navbar-default navbar-fixed-top">
          <div class="container">
                <nav class="nav navbar-nav">
                    <h2>ながのCAKE</h2>
                     <% if customer_signed_in? %>
                          <p><%= current_customer.lastname %>さんがログインしています。</p>
                      <% end %>
                </nav>

                <div class="collapse navbar-collapse" id="Navber">
                   <ul class="nav navbar-nav navbar-right">
                     <% if customer_signed_in? %>
                        <div class="row">
                          <li class="list-item col-md-offset-3 col-md-3">
                            <% body = capture do %>
                              <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>HOME</p>
                            <% end %>
                            <%= link_to_unless_current body, root_path %>
                          </li>

                          <li class="list-item col-md-3">
                            <% body = capture do %>
                              <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>ABOUT</p>
                            <% end %>
                            <%= link_to_unless_current body, about_path  %>
                          </li>

                          <li class="list-item col-md-3">
                            <% body = capture do %>
                              <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>CAKE</p>
                            <% end %>
                            <%= link_to_unless_current body, items_path  %>
                          </li>
                        </div>
                        <div class="row">
                          <li class="list-item col-md-offset-3 col-md-3">
                            <% body = capture do %>
                              <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>CART</p>
                            <% end %>
                            <%= link_to_unless_current body, cart_items_path %>
                          </li>

                          <li class="list-item col-md-3">
                            <% body = capture do %>
                              <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>MYPAGE</p>
                            <% end %>
                            <%= link_to_unless_current body, customer_path(current_customer.id) %>
                          </li>

                          <li class="list-item col-md-3">
                            <% body = capture do %>
                              <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>LOGOUT</p>
                            <% end %>
                            <%= link_to_unless_current body, destroy_customer_session_path, method: :delete %>
                          </li>

                        </div>

                     <% elsif admin_signed_in? %>

                        <li class="list-item">
                          <%= link_to "商品一覧", admins_items_path %>
                        </li>
                        <li class="list-item">
                         <%= link_to "会員一覧", admins_customers_path %>
                        </li>
                        <li class="list-item">
                          <%= link_to "注文履歴一覧", admins_orders_path %>
                        </li>
                        <li class="list-item">
                          <%= link_to "ジャンル管理", admins_genres_path %>
                        </li>

                     <% else %>

                        <li class="list-item col-md-offset-3 col-md-2">
                          <% body = capture do %>
                            <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>HOME</p>
                          <% end %>
                          <%= link_to body, root_path %>
                        </li>

                        <li class="list-item col-md-2">
                          <% body = capture do %>
                            <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>ABOUT</p>
                          <% end %>
                          <%= link_to body, about_path  %>
                        </li>

                        <li class="list-item col-md-2">
                          <% body = capture do %>
                            <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>LOGIN</p>
                          <% end %>
                          <%= link_to body, new_customer_session_path  %>
                        </li>

                        <li class="list-item col-md-2">
                          <% body = capture do %>
                            <p class="text-center" style="font-size: 15px;"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>SIGNUP</p>
                          <% end %>
                          <%= link_to body, new_customer_registration_path  %>
                        </li>
                       <% end %>
                    </ul>
                  </div>
              </div>
       </header>

    <%= yield %>
  </body>
</html>
